@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
:root{
    --orange: #FEA301;
    --sky-blue: #01ACFD;
    --accent-1: #05D4DF;
    --accent-2: #5D58EF;
    --accent-3: #95B226;
    --dark-1: #111111;
    --dark-2: #666666;
    --dark-3: #808080;
}

*{
    margin: 0;
    padding: 0;
}
main, footer{
    max-width: 1440px;
    margin: 0 auto;
    padding:0;
}

.display-flex{
    display: flex;
}

.btn-primary{
border-radius: 12px;
background: var(--orange);
border: none;
color: white;
font-size: 1.25rem;
font-weight: 600;

padding: 10px 60.5px;
}

.btn-secondary{
    border-radius: 12px;
    background: var(--dark-1);
    border: none;
    color: white;
    padding: 10px 47px;

    font-size: 1.25rem;
    font-weight: 700;
}

.a-read-more{
    font-size: 0.943rem;
    font-weight: 700;
    text-decoration: none;
}

.text-align-center{
    text-align: center;
}   
/* header related style */
/* Nav Bar Related Styles */
.brand {
    align-items: center;
    gap: 0.8rem;
}
.nav-links{
    gap: 2rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 1.25rem auto;

    max-width: 1440px;
    margin: 20px auto;
    padding:0 20px;
}

.grip-lines{
    display: none;
}

.navbar .brand img{
    width: 100%;
}
.brand-name{
    font-size: 2rem;
    font-weight: 700;
}

.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.home{color: var(--orange);}
.about{color: var(--sky-blue);}
.facilities{color: var(--accent-3);}
.admission{color: var(--accent-2);}
/* banner related styles */
.banner{
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    max-width: 1440px;
    margin: 0 auto;
    padding:0 20px;
}

.banner-content{
    max-width: 640px;
}

.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.banner-description{
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--dark-1);
    margin-bottom: 24px;
}
.banner .image-container img{
    width: 100%;
}
.orange-text{
    color: var(--orange)
}
.sky-text{
    color: var(--sky-blue);
}

/* Standard Curriculum section styles */

.curriculum-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 28.29px;
    justify-content: space-between;
    padding-bottom: 80px;
}

.curriculum{
    background: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 1440px;
    height: 879px; */
    padding: 60px 0px 60px 0px;
}

.ccard {
    /* width: 367.8px;
    height: 476.78px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 33.48px;
    padding: 40px;

    box-sizing: border-box;
    border: 0.94px solid rgba(222, 245, 255, 1);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgba(222, 245, 255, 1),rgba(255, 255, 255, 0) 40%),rgba(255, 255, 255, 1);

}

#yellow-linear-gradient{background: linear-gradient(180.00deg, rgba(255, 244, 220, 1),rgba(255, 255, 255, 0) 40%),rgba(255, 255, 255, 1);}
#purple-linear-gradient{background: linear-gradient(180.00deg, rgba(238, 225, 255, 1),rgba(255, 255, 255, 0) 40%),rgba(255, 255, 255, 1);}
.ccard img{
    max-width: 137px;
}
.section-title{
    font-size: 2.875rem;
    font-weight: 700;
    padding-bottom: 80px;
}
.ccard-title{
    color: var(--dark-1);
    font-size: 1.533rem;
    font-weight: 700;
    /* margin-top: 32.07px; */
    /* margin-bottom: 33.48px; */

}
.ccard-description{
    font-size: 0.943rem;
    font-weight: 500;
    margin-bottom: 33.96px;
}

.c-nav-btn-link{
    padding: 22.12px;;
    text-decoration: none;
    border-radius: 50%;
    background: var(--orange);
}

.fa-angle-left, .fa-angle-right{
    color: white;
    font-size: 1.5rem;
}

.c-nav-btn{
    display: flex;
    justify-content: center;
    gap: 20px;}


/* Our Stories section styles */

/* footer Styles */

/* Responsive Media Queries */

/* small devices */

@media screen and (max-width:576px) {
    main, footer{
    max-width: 357px;
    margin: 0 auto;
    }

    .nav-links, .btn-primary, .brand-name, .c-nav-btn{
        display: none;
    }
    
    .grip-lines{
    display: block;}
    
    .navbar .brand img{
    width: 46px;
    }

    .navbar{
        justify-content: space-between;
        border-bottom: 0.5px solid var(--orange);
        padding:12px 16px;
        margin: 0px auto;
        max-width: 100%;
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
        margin-top: 12px;
    }
    .banner-content{
    max-width: 357px;
    }
    .banner-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 24px;
    }
    .banner-description{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--dark-1);
    margin-bottom: 24px;
    }
    .section-title{
    font-size: 1.625rem;
    font-weight: 700;
    padding-bottom: 20px;
}
    .ccard-title{
        color: var(--dark-1);
        font-size: 1.038rem;
        font-weight: 700;
        /* margin-top: 32.07px; */
        /* margin-bottom: 33.48px; */

    }
    .ccard-description{
    font-size: 0.639rem;
    font-weight: 500;
    margin-bottom: 33.96px;
}
    .a-read-more{
    font-size: 0.639rem;
    font-weight: 700;
    text-decoration: none;
}
    .curriculum{
        background: none;
    }
    .curriculum-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 12.3px;
}
}
/* medium devices */

@media screen and (min-width:576px) and (max-width:992px){
    
}